.profile-cards {
    display: grid;
    grid-template-columns: 1fr 80px 1fr 1fr 1fr 80px 1fr;
    grid-template-rows: 5rem 1fr 80px 1fr min-content;
}

.profile-cards h2 {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    font-size: 4rem;
    padding: 1rem;
}

.profile-cards ul::scroll-button(right) {
    content: ">";
    grid-column: 6/7;
    grid-row: 3/4;
}

.profile-cards ul::scroll-button(left) {
    content: "<";
    grid-column: 2/3;
    grid-row: 3/4;
}
.profile-cards ul.profile-cards-grid::scroll-button(right) {
    display: none;
}

.profile-cards ul.profile-cards-grid::scroll-button(left) {
    display: none;
}

.profile-cards ul::scroll-button(right),
.profile-cards ul::scroll-button(left) {
    background-color: unset;
    border: unset;
    outline: unset;
    font-size: 10rem;
    color: var(--COLOR_WHITE);
    font-family: var(--FONT_FAMILY_ARROW_ICONS);
    text-align: center;
    text-justify: center;
    padding-bottom: 1rem;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));

    transition: all 0.2s ease;

    :hover {
        scale: 2;
    }
}

.profile-cards ul::scroll-button(right):hover,
.profile-cards ul::scroll-button(left):hover,
.profile-cards ul::scroll-button(right):focus,
.profile-cards ul::scroll-button(left):focus {
    scale: 1.2;
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
}

.profile-cards ul::scroll-button(right):active,
.profile-cards ul::scroll-button(left):active {
    scale: 0.9;
}

.profile-cards ul {
    grid-column: 1/8;
    grid-row: 2/5;
    height: 600px;

    display: flex;
    flex-direction: row;

    align-self: flex-start;
    justify-content: flex-start;

    padding-top: 3rem;
    padding-bottom: 3rem;

    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    padding-left: calc(50% - (350px / 2));
    padding-right: calc(50% - (350px / 2));

    li {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        transition: all 0.2s ease;

        h3 {
            text-align: center;
            font-size: 2rem;
            width: 700px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: var(--BORDER_RADIUS);
        }

    }

    li.active {
        scale: 1.1;
    }

}

.profile-cards ul.profile-cards-grid {
    background: unset;
    flex-wrap: wrap;
    height: 600px;
    overflow-x: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    align-self: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
    gap: var(--SPACING_MEDIUM);
    
    li {
        background: rgb(207, 220, 246);
        transition: all 0.2s ease;
        flex: 0 1 auto;
        width: 300px;
        border-radius: var(--BORDER_RADIUS);
        padding: 1rem;


        h3 {
            text-align: center;
            font-size: 2rem;
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: var(--BORDER_RADIUS);
        }
    }
    li:nth-child(even){
        display: flex;
        flex-direction: column-reverse;
    }
    

    li.active {
        scale: 1.0;
    }
}


.arrow-left:active,
.arrow-right:active {
    scale: 0.9;
}

.carrousel-grid-toggle {
    grid-column: 4/5;
    grid-row: 5/6;
    padding: var(--SPACING_MEDIUM);
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

.carrousel-button,
.grid-button {
    width: 80px;
    height: 80px;
    background: unset;
    border: unset;

    transition: all 0.2s ease;
}

.carrousel-button:hover,
.grid-button:hover,
.carrousel-button:focus,
.grid-button:focus {
    scale: 1.2;
}

.carrousel-button:active,
.grid-button:active {
    scale: 0.9;
}