/* A BACKGROUND WITH A SET HEIGHT ON THE HERO CONTAINER */
.hero {
    position: relative;
    width: 100vw;
    height: var(--HERO_HEIGHT);
    overflow: clip;
}

/* CARD PREVIEWS ARE FREE TO MOVE AND START IN THE MIDDLE */
.hero li {
    position: absolute;
    list-style: none;
    display: block;
    left: -300px;

    transition:
        all 1s,
        left var(--duration) var(--delay),
        top var(--duration) var(--delay);

    transform:
        rotate(var(--rotation)) scale(var(--scale));
    left: var(--x);
    top: var(--y);
}

/* IMG RESIZED AND MAINTAINS ASPECT RATIO */
.hero li img {
    width: 200px;
    height: auto;
    aspect-ratio: auto;
    border-radius: var(--BORDER_RADIUS);
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.77);
    outline: 0.3rem solid var(--COLOR_WHITE);
    transition:
        box-shadow 0.2s,
        scale 0.2s;
}

/* HOVER ON A HERO IMAGE */
.hero li img:hover {
    --shadow-dist: 1rem;
    box-shadow:
        calc(var(--shadow-dist) * (cos(var(--rotation)) + sin(var(--rotation)))) calc(var(--shadow-dist) * (cos(var(--rotation)) - sin(var(--rotation)))) 10px rgba(0, 0, 0, 0.443);
    scale: 1.1;
    transition:
        box-shadow 0.2s cubic-bezier(.08, 1.32, .61, 1.47),
        scale 0.2s cubic-bezier(.08, 1.32, .61, 1.47);
}

/* LOOPING ROTATION */
.hero li:hover {
    animation: spin 0.7s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(var(--rotation)) scale(var(--scale)) rotate(0deg);
    }

    to {
        transform: rotate(var(--rotation)) scale(var(--scale)) rotate(2deg);
    }
}