/* LOCATIONS */

.locations {
    padding: var(--SPACING_LARGE);
}


/* LOCATION SCROLL AREA */

.locations ul {
    display: flex;
    gap: var(--SPACING_LARGE);
    width: 100%;
    overflow-x: auto;
    padding: var(--SPACING_SMALL);
    padding-bottom: var(--SPACING_MEDIUM);
    scroll-behavior: smooth;
    scrollbar-color: var(--COLOR_WHITE) transparent;
}

/* LOCATION CARDS */

.locations li {
    flex: 0 0 calc((100% - (2 * var(--SPACING_LARGE))) / 3);
    background-color: var(--COLOR_WHITE);
    padding: var(--SPACING_MEDIUM);
    border-radius: var(--BORDER_RADIUS);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* LOCATION IMAGES */

.locations li img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: var(--BORDER_RADIUS);
}

/* LOCATION IMAGE HOVER */

.locations li:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
}

/* LOCATION TITLES */

.locations li h3 {
    font-weight: 600;
    margin-top: var(--SPACING_SMALL);
    text-align: left;
    font-size: var(--FONT_SIZE_H3);
}

/* LOCATION LINKS */

.locations li a {
    display: block;
}

/* MOBILE */

@media (max-width: 40rem) {
    .locations {
        padding: var(--SPACING_MEDIUM);
    }

    .locations li {
        flex-basis: 200px;
    }

    .review-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}