/* MAKE THE HEADER STICKY EN GRID */
header {
    position: sticky;
    top: 0;
    display: grid;
    background-color: var(--COLOR_SECONDARY);
    grid-template-columns: 1fr 80px;
    grid-template-rows: var(--HEADER_HEIGHT);
    height: var(--HEADER_HEIGHT);
    width: 100%;
    z-index: 1;

    @media (min-width: 30em) {
        position: relative;
    }
}

/* ALIGN THE TITLE */
header h1 {
    align-self: center;
    padding-left: var(--SPACING_MEDIUM);
    font-family: var(--FONT_TITLE);
    font-size: min(var(--FONT_SIZE_H1), 8vw);

    /* MOVE TITLE TO CENTER OF HERO */
    @media (min-width: 30em) {
        justify-self: center;
        transform: translate(40px, calc(calc(var(--HERO_HEIGHT) / 2) + calc(var(--HEADER_HEIGHT)) / 2));
        background-color: var(--COLOR_SECONDARY);
        color: var(--COLOR_BLACK);
        padding: var(--SPACING_MEDIUM);
        padding-top: var(--SPACING_SMALL);
        border-radius: var(--BORDER_RADIUS);
    }
}

/* ALIGN THE NAV BUTTON */
nav {
    padding: var(--SPACING_MEDIUM);
    align-self: center;
    justify-self: center;
    display: flex;
}

/* NAV BUTTON STYLING */
button[popovertarget] {
    padding: var(--SPACING_SMALL);
    border-radius: var(--BORDER_RADIUS);
    background-color: var(--COLOR_WHITE);
    color: var(--COLOR_BLACK);
    border: 0;
    justify-self: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[popovertarget]:hover,
button[popovertarget]:focus-visible {
    background-color: var(--COLOR_ACCENT);
}

button[popovertarget]:active {
    background-color: var(--COLOR_MAIN);
}

/* POPOVER STYLING AND TRANSITION */
[popover] {
    z-index: -1;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        display 0s allow-discrete,
        overlay 0.2s allow-discrete;
}

/* POPOVER OPEN STATE */
[popover]:popover-open {
    border: 0;
    background-color: var(--COLOR_MAIN);
    border-radius: 0 0 var(--BORDER_RADIUS) var(--BORDER_RADIUS);
    inset: var(--HEADER_HEIGHT) var(--SPACING_MEDIUM) auto auto;
    transform: translateX(0);
}

/* POPOVER CLOSE STATE */
@starting-style {
    [popover]:popover-open {
        transform: translateX(200px);
    }
}

/* LIST AND ANCHORS STYLING */
nav ul {
    padding: var(--SPACING_MEDIUM);
    padding-top: 0;

    a {
        display: inline-block;
        width: 120px;
        margin: var(--SPACING_SMALL);
        padding: var(--SPACING_SMALL);
        border-radius: var(--BORDER_RADIUS);
        background-color: var(--COLOR_WHITE);
        color: var(--COLOR_BLACK);
        transition: background-color 0.2s ease;
    }

    a:hover,
    a:focus-visible {
        background-color: var(--COLOR_ACCENT);
    }

    a:active {
        background-color: var(--COLOR_MAIN);
    }
}