/* ==================================================
   CSS VARIABLES
   Globale waarden die door de hele website
   gebruikt kunnen worden.
   ================================================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

:root {
   /* TYPOGRAPHY */
   --FONT_FAMILY: Arial, sans-serif;
   --FONT_FAMILY_ARROW_ICONS: "Comic Relief", sans-serif;
   --FONT_TITLE: 'Playfair Display', serif;
   --FONT_SIZE: 1rem;
   --FONT_SIZE_H1: 4rem;
   --FONT_SIZE_H2: 2rem;
   --FONT_SIZE_H3: 1.5rem;
   --LINE_HEIGHT: 1.5;

   /* COLORS */
   --COLOR_MAIN: #00592B;
   --COLOR_SECONDARY: #046835;
   --COLOR_ACCENT: #F47FE0;
   --COLOR_TILE: #1AE687;
   --COLOR_WHITE: #F1F0EC;
   --COLOR_BLACK: #19110F;


   /* SPACING */
   --SPACING_SMALL: 0.5rem;
   --SPACING_MEDIUM: 1rem;
   --SPACING_LARGE: 2rem;

   /* BORDERS */
   --BORDER_RADIUS: 10px;
   --BORDER_WITDH: 1px;
   --BORDER_COLOR: #000000;

   /* HEADER */
   --HEADER_HEIGHT: 5rem;

   /* HERO */
   --HERO_HEIGHT: 800px;

   /* PROFILE CARDS SECTION */
   --PROFILE_CARD_SECTION_HEIGHT: 600px;
   --PROFILE_CARD_ACTIVE_SCALE: 1.1;
   --PROFILE_CARD_ACTIVE_SCALE_MOBILE: 1.3;
   --PROFILE_CARD_GRID_MIN_WIDTH: 250px;

   /* ARROW BUTTONS */
   --ARROW_BUTTON_SCALE: 10rem;

   /* PROFILE CARD VIEWING MODE BUTTONS */
   --VIEWING_MODE_BUTTONS_SIZE: 80px;

   /* BREAKPOINTS */
   --BREAKPOINT_MOBILE: 40rem;

}


/* ==================================================
   STYLE RESET
   Standaard browserstijlen worden gereset zodat
   we vanuit een consistente basis kunnen werken.
   ================================================== */

/*
   Box-sizing zorgt ervoor dat padding en border
   worden meegerekend in de totale breedte en
   hoogte van een element.
*/
*,
*::before,
*::after {
   box-sizing: border-box;
}


/*
   Standaard margin en padding worden verwijderd.
*/
* {
   margin: 0;
   padding: 0;
}


/*
   De body gebruikt het standaard lettertype,
   de standaard tekstgrootte en regelafstand
   van de website.
*/
body {
   background-color: var(--COLOR_MAIN);
   color: var(--COLOR_BLACK);
   font-family: var(--FONT_FAMILY);
   font-size: var(--FONT_SIZE);
   line-height: var(--LINE_HEIGHT);
}


/*
   De standaard bolletjes en nummers van lijsten
   worden verwijderd.
*/

ol ,ul{
   list-style: none;
}


/*
   Afbeeldingen worden als block-element weergegeven
   en kunnen niet groter worden dan hun container.
*/
img {
   display: block;
   max-width: 100%;
}


/*
   Links nemen standaard de kleur over van hun
   omliggende element.
*/
a {
   color: inherit;
   text-decoration: none;
}


/*
   Buttons gebruiken hetzelfde lettertype als
   de rest van de website.
*/
button {
   font: inherit;
}

/* TITLES */

h1,
h2,
h3 {
   font-family: var(--FONT_TITLE);
   font-weight: 700;
   color: var(--COLOR_WHITE);
}
h3 {
   color: var(--COLOR_BLACK);
}